.container-3 {
  position: absolute;
  background: linear-gradient(
    335deg,
    rgba(225, 225, 191, 1) 0%,
    rgba(238, 238, 221, 1) 100%
  );
  width: 100%;
  position: absolute;
  /* border-color: red;
  border-style: solid;
  border-width: 1px; */
  z-index: 0;
}

.flashcard-section {
  /* border-color: yellow;
  border-style: solid;
  border-width: 1px; */
  margin: 15vh 5vw 15vh 5vw;
  display: flex;
  justify-content: center;
}

.flashcard-section button {
  display: flex;
  border-style: none;
  background-color: transparent;
  font-size: 40px;
  cursor: pointer;
  /* border-radius: 100%;
  border-style: solid;
  border-color: black;
  border-width: 1px; */
  padding: 5vh;
}

.flashcard {
  box-shadow: 10px 10px 10px #62865a;
  position: relative;
  /* border-color: pink;
  border-style: solid;
  border-width: 1px; */
  border-radius: 10px;
  background: linear-gradient(
    335deg,
    rgba(122, 255, 92, 1) 0%,
    rgba(122, 255, 92, 0.5) 100%
  );
  margin: 10vh 5vw 10vh 5vw;
  height: 50vh;
  width: 50vw;
  display: flex;
  z-index: 2;
  overflow-y: scroll;
}

.flashcard:hover {
  transition: box-shadow 1s;
  box-shadow: 10px 10px 10px #40573b;
}

.flashcard button {
  position: absolute;
  padding: 2vw;
}

.flashcard h2 {
  display: flex;
  flex-direction: column;
  align-self: center;
  /* border-color: pink;
  border-style: solid;
  border-width: 1px; */
  width: 100%;
  margin: 1vh;
}

.return {
  position: absolute;
  left: 5vh;
  bottom: 5vh;
}

.tilted-card {
  /* border-color: purple; */
  position: absolute;
  transform: rotate(6deg);
  z-index: 1;
}

.save-2 {
  top: 1vh;
  left: 1vh;
}

.choose-2 {
  top: 1vh;
  right: 1vh;
}

.title {
  text-align: center;
  /* border-style: solid; */
}

.author {
  padding: 0vh 2vh 0vh 2vh;
  text-align: center;
  /* border-style: solid; */
}

.lines-div {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 0vh 0vh 5vh 2vh;
  width: 50%;
  /* border-style: solid; */
}
.line {
  /* border-style: solid; */
  margin: 1vh;
  display: flex;
}

.poem-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 10vh 0vh 0vh 0vh;
}

.quote-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 100%;
  margin: 0vh 5vh 0vh 5vh;
}
