.container-1 {
  background: linear-gradient(
    335deg,
    rgba(225, 225, 191, 1) 0%,
    rgba(238, 238, 221, 1) 100%
  );
  display: flex;
  justify-content: space-around;
  height: 95vh;
  width: 100%;
  padding: 2vh 0vh 5vh 0vh;
}

.block-section {
  margin: 4vh 15vh 15vh 15vh;
  padding: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.block {
  border-style: none;
  border-radius: 5%;
  margin: 2vh;
  padding: 1vw 2vw 1vw 2vw;
  width: 20vw;
  height: 20vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 10px 10px 10px rgb(150, 150, 150);
  background: linear-gradient(
    335deg,
    rgba(0, 5, 27, 1) 0%,
    rgba(0, 5, 27, 0.5) 100%
  );
}

.block:hover {
  cursor: pointer;
  transition: background-color 1s, box-shadow 1s;
  background-color: #00051b;
  box-shadow: 10px 10px 10px rgb(80, 80, 80);
}

.block h2 {
  font-size: 2vw;
  color: rgba(238, 238, 221, 1);
}

.submissions {
  display: flex;
}

.side-menu-section {
  margin: 5vh 15vh 5vh 0vh;
  border-radius: 25px;
  padding: 1vh;
  text-align: center;
  width: 40vw;
  box-shadow: 10px 10px 10px rgb(150, 150, 150);
  background: linear-gradient(
    335deg,
    rgba(0, 5, 27, 1) 0%,
    rgba(0, 5, 27, 0.5) 100%
  );
}

.side-menu-section:hover {
  transition: box-shadow 1s;
  box-shadow: 10px 10px 10px rgb(80, 80, 80);
}

.side-menu-section h2 {
  font-size: 2vw;
  color: rgba(238, 238, 221, 1);
}
