.container-4 {
  background: linear-gradient(
    335deg,
    rgba(225, 225, 191, 1) 0%,
    rgba(238, 238, 221, 1) 100%
  );
  height: 100vh;
  width: 100%;
  position: absolute;
}

.header-section-1 {
  border-color: #00051b;
  border-style: solid;
  padding: 0vh 0vh 2% 0vh;
  border-width: 0px 0px 2px 0px;
  margin: 10vh 10vh 5vh 10vh;
}

.header-section-1 h2 {
  text-align: center;
  font-size: 40px;
}

.filter-options-1 ul {
  text-align: center;
  display: flex;
  justify-content: center;
}

.filter-options-1 ul div {
  margin: 2vh;
  font-size: 20px;
  cursor: pointer;
}

.list-section-1 {
  display: flex;
  flex-direction: column;
  height: 70vh;
  overflow-y: scroll;
  padding: 1vw 5vh 1vw 5vh;
}

.list-item-1 {
  box-shadow: 10px 10px 10px rgb(150, 150, 150);
  position: relative;
  border-radius: 10px;
  background: linear-gradient(
    335deg,
    rgba(94, 124, 255, 1) 0%,
    rgba(94, 124, 255, 0.5) 100%
  );
  margin: 2vh 20vw 4vh 20vw;
  padding: 5vw;
}

.list-item-1:hover {
  transition: box-shadow 1s, background-color 1s;
  box-shadow: 10px 10px 10px rgb(80, 80, 80);
  background-color: rgba(94, 124, 255, 1);
}

.list-item-1 button {
  position: absolute;
  background-color: transparent;
  border-style: none;
  font-size: 30px;
  cursor: pointer;
}

.delete-1 {
  right: 2vw;
  top: 2vw;
}

.use-1 {
  left: 2vw;
  top: 2vw;
}

.return-1 {
  position: absolute;
  left: 5vh;
  bottom: 5vh;
  background-color: transparent;
  border-style: none;
  font-size: 50px;
  cursor: pointer;
}

.list-item-1 h5 {
  font-size: 20px;
  font-weight: 500;
}

.list-item-1 h4 {
  font-size: 25px;
  font-weight: 500;
}

.list-item-1 h3 {
  font-size: 30px;
}